<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INIntentsSupported</key>
	<array>
		<string>CreateColorImageIntent</string>
		<string>SymbolImageIntent</string>
		<string>ParseCSVIntent</string>
		<string>ScanQRCodesInImageIntent</string>
		<string>ParseJSON5Intent</string>
		<string>TranscribeAudioIntent</string>
		<string>GenerateCSVIntent</string>
		<string>IsScreenLockedIntent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MDItemKeywords</key>
	<string>shortcuts,shortcut,actions,action,workflow</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>AddToListIntent</string>
		<string>ApplyCaptureDateIntent</string>
		<string>ChooseFromListExtendedIntent</string>
		<string>ClampNumberIntent</string>
		<string>CombineListsIntent</string>
		<string>CreateColorImageIntent</string>
		<string>CreateURLIntent</string>
		<string>DateToUnixTimeIntent</string>
		<string>EditURLIntent</string>
		<string>FilterListIntent</string>
		<string>FormatCurrencyIntent</string>
		<string>FormatDateDifferenceIntent</string>
		<string>FormatDurationIntent</string>
		<string>FormatNumberCompactIntent</string>
		<string>GenerateCSVIntent</string>
		<string>GenerateUUIDIntent</string>
		<string>GeoURIIntent</string>
		<string>GetAudioPlaybackDestinationIntent</string>
		<string>GetBatteryStateIntent</string>
		<string>GetDeviceOrientationIntent</string>
		<string>GetEmojisIntent</string>
		<string>GetFileIconIntent</string>
		<string>GetFilePathIntent</string>
		<string>GetMusicPlaylistsIntent</string>
		<string>GetQueryItemValueFromURLIntent</string>
		<string>GetQueryItemsFromURLAsDictionaryIntent</string>
		<string>GetQueryItemsFromURLIntent</string>
		<string>GetRelatedWordsIntent</string>
		<string>GetRunningAppsIntent</string>
		<string>GetTitleOfURLIntent</string>
		<string>GetUniformTypeIdentifierIntent</string>
		<string>GetUnsplashImageIntent</string>
		<string>GetUserDetailsIntent</string>
		<string>HapticFeedbackIntent</string>
		<string>HideShortcutsAppIntent</string>
		<string>IsAudioPlayingIntent</string>
		<string>IsBluetoothOnIntent</string>
		<string>IsConnectedToVPNIntent</string>
		<string>IsDarkModeIntent</string>
		<string>IsDeviceOrientationIntent</string>
		<string>IsLowPowerModeIntent</string>
		<string>IsOnlineIntent</string>
		<string>IsReachableIntent</string>
		<string>IsScreenLockedIntent</string>
		<string>IsSilentModeOnIntent</string>
		<string>IsWiFiOnIntent</string>
		<string>MergeDictionariesIntent</string>
		<string>ParseCSVIntent</string>
		<string>ParseJSON5Intent</string>
		<string>PrettyPrintDictionariesIntent</string>
		<string>RandomBooleanIntent</string>
		<string>RandomColorIntent</string>
		<string>RandomDateTimeIntent</string>
		<string>RandomEmojiIntent</string>
		<string>RandomFloatingPointNumberIntent</string>
		<string>RandomTextIntent</string>
		<string>RemoveDuplicateLinesIntent</string>
		<string>RemoveDuplicatesFromListIntent</string>
		<string>RemoveEmojiIntent</string>
		<string>RemoveEmptyLinesIntent</string>
		<string>RemoveFromListIntent</string>
		<string>RemoveNonPrintableCharactersIntent</string>
		<string>ReverseListIntent</string>
		<string>RoundNumberToMultipleIntent</string>
		<string>SampleColorIntent</string>
		<string>ScanDocumentsIntent</string>
		<string>ScanQRCodesInImageIntent</string>
		<string>SendFeedbackIntent</string>
		<string>SetFileCreationModificationDateIntent</string>
		<string>ShuffleListIntent</string>
		<string>SortListIntent</string>
		<string>SpellOutNumberIntent</string>
		<string>SymbolImageIntent</string>
		<string>TranscribeAudioIntent</string>
		<string>TransformListsIntent</string>
		<string>TransformTextIntent</string>
		<string>TransformTextWithJavaScriptIntent</string>
		<string>TrimWhitespaceIntent</string>
		<string>TruncateListIntent</string>
		<string>TruncateTextIntent</string>
		<string>UnixTimeToDateIntent</string>
		<string>WriteTextIntent</string>
	</array>
</dict>
</plist>
